In [8]:
my_grades = ['B','C','D','A']

In [17]:
import pandas as pd
#convert grades to a series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    D
3    A
dtype: object

In [20]:
my_grades.map({'B':'A', 'C':'B','D':'C','A':'A'})

0    A
1    B
2    C
3    A
dtype: object

In [22]:
my_grades = [92.83,95.67,99.99,97.62]

In [23]:
my_grades

[92.83, 95.67, 99.99, 97.62]

In [28]:
for grade in my_grades:
    print("{:.0f}".format(grade))

93
96
100
98

In [31]:
my_grades= pd.Series ([92.83, 95.67, 99.99, 97.62])

In [34]:
my_grades.map("{:.0f}".format)

0     93
1     96
2    100
3     98
dtype: object